{{define "base"}}
<!doctype html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASCII Art Web</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/" class="logo">ASCII<span>Art</span></a>
        </div>
        <div class="logo-image">
          <img src="../static/images/Pasted image.png" alt="logo-image" />
        </div>
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/generator">Generator</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>

    <main>{{block "content" .}}{{end}}</main>

    <footer>
      <p>
        © 2026 ASCII Art Web | Made with ❤️ By #aelasser & #aabdou for the
        creative community of 01.edu
      </p>
    </footer>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/intro.js"></script>
  </body>
</html>
{{end}}
