{{define "content"}}
<div id="contact" class="page">
  <div class="contact-container">
    <h2 class="page-title">Contact Us</h2>

    <div class="developers-grid">
      <div class="developer-card">
        <div class="avatar">
          <img src="../static/images/aser.png" alt="Alasser" />
        </div>
        <h3>Ahmed El Aeser</h3>
        <p class="role">Aspiring Developer</p>
        <code class="username">#aelasser</code>
        <p class="phone">📞 +2 01032223777</p>
      </div>

      <div class="developer-card">
        <div class="avatar">
          <img src="../static/images/abdou.png" alt="abdou" />
        </div>
        <h3>Ahmed Abdou</h3>
        <p class="role">Aspiring Developer</p>
        <code class="username">#aabdou</code>
        <p class="phone">📞 +2 01000130472</p>
      </div>
    </div>

    <div class="contact-footer">
      <p>
        For inquiries, collaborations, or support, reach out to any of our team
        members.
      </p>
    </div>
  </div>
</div>
{{ end }} {{define "scripts"}}{{ end }}
