{{define "content"}}
<div id="home" class="page active">
  <div class="hero">
    <div class="hero-content">
      <h1 class="glitch" data-text="ASCII ART WEB">ASCII ART</h1>
      <p class="hero-text">
        Transform your text into stunning ASCII masterpieces with our powerful
        generator.
      </p>
      <a href="/generator" class="btn btn-primary" data-page="generator"
        >Start Creating →</a
      >
    </div>
    <div class="hero-right">
      <div class="tower-animation-box">
        <canvas id="intro-canvas"></canvas>
      </div>
    </div>
  </div>
</div>
{{ end }}
